<mat-card class="food-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ food.title }}</mat-card-title>
      <mat-card-subtitle>{{ food.serves }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ food.imageLink }}" alt=" Foto de {{food.title}}">
    <mat-card-content>
        <b>{{food.price}}</b>
        <p>{{food.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>
                add_shopping_cart
            </mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>