<div class="login-container">
  <div class="imag">
    <img src="/Iphome.png" alt="LogoMarca">
  </div>
  <div class="title">
    <h1>Portal do Parceiro</h1>
    <p>Acesse, compre ou gerencie a sua loja de forma rápida.</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
          (input)="updateEmailErrorMessage()"
          (blur)="updateEmailErrorMessage()">
        <mat-error *ngIf="loginForm.controls['email'].invalid">{{ emailError }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          formControlName="password">
        <mat-error *ngIf="loginForm.controls['password'].invalid">{{ passwordError }}</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
