<form [formGroup]="foodForm" (ngSubmit)="submitForm()">
  <h3>Add new food catalog:</h3>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title"/>
    <mat-error>Title is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Serves</mat-label>
    <input matInput formControlName="serves"/>
    @if (foodForm.get('price')?.hasError('min')) {
      <mat-error>Serves is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Image Link</mat-label>
    <input matInput formControlName="imageLink"/>
    <mat-error>Invalid URL format</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price"/>
    @if (foodForm.get('price')?.hasError('required')) {
      <mat-error>Price is required</mat-error>
    }
    @if (foodForm.get('price')?.hasError('min')) {
      <mat-error>Price must be non-negative</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Available in Stock</mat-label>
    <input matInput formControlName="avaibleInStock"/>
    @if (foodForm.get('avaibleInStock')?.hasError('required')) {
      <mat-error>Stock is required</mat-error>
    }
    @if (foodForm.get('avaibleInStock')?.hasError('min')) {
      <mat-error>Stock must be non-negative</mat-error>
    }
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
